webapp.name = agilefant
database.type = mysql5
deploy.dir.local = c:/Program Files/Apache Software Foundation/Tomcat 5.5/webapps/${webapp.name}
fitnesse.dir = c:/fitnesse

tomcat.manager.url = http://www.example.com:8080/manager
tomcat.manager.username = tomcat
tomcat.manager.password = secret