/*
 * jsTree agilefant theme 1.0
 * Supported features: dots/no-dots, icons/no-icons, focused, loading
 * Supported plugins: ui (hovered, clicked), checkbox
 */
.jstree-agilefant li,.jstree-agilefant ins {
	background-image: url("d.png");
	background-repeat: no-repeat;
	background-color: transparent;
}

.jstree-agilefant li {
	background-position: -90px 0;
	background-repeat: repeat-y;
}

.jstree-agilefant li.jstree-last {
	background: transparent;
}

.jstree-agilefant .jstree-open>ins {
	background-position: -72px 0;
}

.jstree-agilefant .jstree-closed>ins {
	background-position: -54px 0;
}

.jstree-agilefant .jstree-leaf>ins {
	background-position: -36px 0;
}

.jstree-agilefant .jstree-hovered {
	background: #e7f4f9;
	border: 1px solid #d8f0fa;
	padding: 0 1px;
}

.jstree-agilefant .jstree-clicked {
	background: #beebff;
	border: 1px solid #99defd;
	padding: 0 1px;
}

.jstree-agilefant a .icon {
	background: transparent;
}

.jstree-agilefant a.jstree-loading .icon {
	background: url("throbber.gif") center center no-repeat !important;
}

.jstree-agilefant.jstree-focused {
	
}

.jstree-agilefant .jstree-no-dots li,.jstree-agilefant .jstree-no-dots .jstree-leaf>ins
	{
	background: transparent;
}

.jstree-agilefant .jstree-no-dots .jstree-open>ins {
	background-position: -18px 0;
}

.jstree-agilefant .jstree-no-dots .jstree-closed>ins {
	background-position: 0 0;
}

.jstree-agilefant .jstree-no-icons a .icon {
	display: none;
}

.jstree-agilefant .jstree-search {
	font-style: italic;
}

.jstree-agilefant .jstree-no-icons .checkbox {
	display: inline-block;
}

.jstree-agilefant .jstree-no-checkboxes .checkbox {
	display: none !important;
}

.jstree-agilefant .jstree-checked>a>.checkbox {
	background-position: -38px -19px;
}

.jstree-agilefant .jstree-unchecked>a>.checkbox {
	background-position: -2px -19px;
}

.jstree-agilefant .jstree-undetermined>a>.checkbox {
	background-position: -20px -19px;
}

.jstree-agilefant .jstree-checked>a>.checkbox:hover {
	background-position: -38px -37px;
}

.jstree-agilefant .jstree-unchecked>a>.checkbox:hover {
	background-position: -2px -37px;
}

.jstree-agilefant .jstree-undetermined>a>.checkbox:hover {
	background-position: -20px -37px;
}
/* TODO: IE6 support - the `>` selectors */