<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee  http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

	<display-name>AgilEfant</display-name>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>WEB-INF/applicationContext*.xml</param-value>
	</context-param>

  <!-- Jersey REST service initialization for remote package  -->
  <servlet>
      <servlet-name>Jersey Spring</servlet-name>
      <servlet-class>com.sun.jersey.spi.spring.container.servlet.SpringServlet</servlet-class>
      <init-param>
          <param-name>com.sun.jersey.config.property.resourceConfigClass</param-name>
          <param-value>com.sun.jersey.api.core.PackagesResourceConfig</param-value>
      </init-param>
      <init-param>
          <param-name>com.sun.jersey.config.property.packages</param-name>
          <param-value>fi.hut.soberit.agilefant.remote</param-value>
      </init-param>   
  </servlet>
  
  <!-- Servlet to facilitate read-only access to Agilefant data -->
  <servlet>
      <servlet-name>readonly</servlet-name>
      <servlet-class>com.sun.jersey.spi.spring.container.servlet.SpringServlet</servlet-class>
      <init-param>
          <param-name>com.sun.jersey.config.property.resourceConfigClass</param-name>
          <param-value>com.sun.jersey.api.core.PackagesResourceConfig</param-value>
      </init-param>
      <init-param>
          <param-name>com.sun.jersey.config.property.packages</param-name>
          <param-value>fi.hut.soberit.agilefant.remote</param-value>
      </init-param>  
  </servlet>

  <!-- Map read-only URI's to ReadOnly servlet -->
  <servlet-mapping>
      <servlet-name>readonly</servlet-name>
      <url-pattern>/token/*</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
      <servlet-name>Jersey Spring</servlet-name>
      <url-pattern>/rs/*</url-pattern>
  </servlet-mapping>

	<filter>
		<filter-name>filterChainProxy</filter-name>
		<filter-class>
			org.springframework.security.util.FilterToBeanProxy
		</filter-class>
		<init-param>
			<param-name>targetClass</param-name>
			<param-value>
				org.springframework.security.util.FilterChainProxy
			</param-value>
		</init-param>
	</filter>
	
	<filter>
		<filter-name>hibernateFilter</filter-name>
		<filter-class>
			org.springframework.orm.hibernate3.support.OpenSessionInViewFilter
		</filter-class>
	</filter>
	
	<filter>
		<filter-name>readonlyFilter</filter-name>
		<filter-class>
			org.springframework.web.filter.DelegatingFilterProxy
		</filter-class>
	</filter>
		
	<filter>
		<filter-name>struts</filter-name>
		<filter-class>
			org.apache.struts2.dispatcher.FilterDispatcher
		</filter-class>
	</filter>
	
	<filter> 
	  <filter-name>GzipFilter</filter-name> 
	  <filter-class>com.cj.gzipflt.GzipFilter</filter-class> 
	</filter>
	
	<filter> 
    <filter-name>ResponseHeaderFilter</filter-name> 
    <filter-class>fi.hut.soberit.agilefant.web.filters.ResponseHeaderFilter</filter-class>
    <init-param>
      <param-name>expirationTime</param-name>
      <param-value>0</param-value>
    </init-param> 
  </filter>

	<!-- the order matters - spring security must come first -->
  <filter-mapping>
    <filter-name>filterChainProxy</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <filter-mapping>
    <filter-name>hibernateFilter</filter-name>
    <url-pattern>*.action</url-pattern>
  </filter-mapping>
  
  <filter-mapping>
    <filter-name>readonlyFilter</filter-name>
    <url-pattern>/token/*</url-pattern>
  </filter-mapping>
  
  <filter-mapping>
    <filter-name>hibernateFilter</filter-name>
    <url-pattern>/rs/*</url-pattern>
  </filter-mapping>
  
  <filter-mapping> 
    <filter-name>ResponseHeaderFilter</filter-name> 
    <url-pattern>/static/*</url-pattern> 
  </filter-mapping>
  
  <filter-mapping>
    <filter-name>struts</filter-name>
    <url-pattern>*.action</url-pattern>
  </filter-mapping>
	
  <filter-mapping>
    <filter-name>struts</filter-name>
    <url-pattern>*.jsp</url-pattern>
  </filter-mapping>

  <filter-mapping> 
	  <filter-name>GzipFilter</filter-name> 
	  <url-pattern>/*</url-pattern> 
  </filter-mapping>


  <listener>
		<listener-class>
			org.springframework.web.context.ContextLoaderListener
		</listener-class>
	</listener>
	
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	<session-config>
    	<session-timeout>240</session-timeout>
  	</session-config>
	<jsp-config>
		<jsp-property-group>
			<url-pattern>*.jsp</url-pattern>
			<el-ignored>false</el-ignored>
			<page-encoding>utf-8</page-encoding>
		</jsp-property-group>
	</jsp-config>
  
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Remote</web-resource-name>
      <url-pattern>/rs/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>agilefantremote</role-name>
    </auth-constraint>
  </security-constraint>
  
  <login-config>
    <auth-method>BASIC</auth-method>
    <realm-name>Agilefant</realm-name>
  </login-config>
  
  <security-role>
    <role-name>agilefantremote</role-name>
  </security-role>
  <security-role>
    <role-name>agilefantreadonly</role-name>
  </security-role>
  
  <env-entry>
    <env-entry-name>remoteEnabled</env-entry-name>
    <env-entry-type>java.lang.Boolean</env-entry-type>
    <env-entry-value>false</env-entry-value>
  </env-entry>
  
</web-app>


