<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
                       "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
	<bean name="mailSender"
		class="org.springframework.mail.javamail.JavaMailSenderImpl">
		<property name="host">
			<value>smtp.hut.fi</value>
		</property>
	</bean>

	<bean name="updateTaskTemplate"
		class="org.springframework.mail.SimpleMailMessage">
		<property name="from" value="agilefant@agilefant.org" />
		<property name="subject" value="Task updated: $task.name$" />
		<property name="text">
			<value>
				<![CDATA[Task updated: $task.name$
View it from URL: http://hypertorni.dyndns.org/agilefant/editTask.action?taskId=$task.id$
---
This message was automatically sent by Agilefant]]>
			</value>
		</property>
	</bean>

	<bean name="newPasswordTemplate"
		class="org.springframework.mail.SimpleMailMessage">
		<property name="from" value="agilefant@agilefant.org" />
		<property name="subject" value="Your new Agilefant Password" />
		<property name="text">
			<value>
				<![CDATA[Agilefant has generated this new password for you: "$password$". Please log in and change it immediately.
	---
	This message was automatically sent by Agilefant]]>
			</value>
		</property>
	</bean>

	<bean name="createTaskTemplate"
		class="org.springframework.mail.SimpleMailMessage">
		<property name="from" value="agilefant@agilefant.org" />
		<property name="subject" value="Task created: $task.name$" />
		<property name="text">
			<value>
				<![CDATA[New task created: $task.name$
View it from URL: http://hypertorni.dyndns.org/agilefant/editTask.action?taskId=$task.id$
---
This message was automatically sent by Agilefant]]>
			</value>
		</property>
	</bean>
</beans>
