<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
  http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
  http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd">
	<context:component-scan base-package="fi.hut.soberit.agilefant.web" />
	
	<!-- Define date format for parsing Date values from Strings.
		Must be equal to the webwork.shortDateTime.format property value -->
	<bean id="dateFormat" class="java.lang.String">
		<constructor-arg>
			<value>yyyy-MM-dd HH:mm</value>
		</constructor-arg>
	</bean>
	<!-- 
	<bean name="menuAction"
        class="fi.hut.soberit.agilefant.web.MenuAction"
        autowire="byType" scope="prototype" />
         -->
	<!-- 
	<bean name="projectTypeAction"
		class="fi.hut.soberit.agilefant.web.ProjectTypeAction"
		singleton="false" autowire="byName" />
	<bean name="workTypeAction"
		class="fi.hut.soberit.agilefant.web.WorkTypeAction" singleton="false"
		autowire="byName" />

	<bean name="projectAction" class="fi.hut.soberit.agilefant.web.ProjectAction"
			scope="prototype" autowire="byName">
		<property name="dateFormat">
			<ref local="dateFormat"/>
		</property>
	</bean>

	<bean name="todoAction"
		class="fi.hut.soberit.agilefant.web.TodoAction" singleton="false"
		autowire="byName" />
	<bean name="backlogAction"
		class="fi.hut.soberit.agilefant.web.BacklogAction" singleton="false"
		autowire="byName" />
	<bean name="iterationAction"
			class="fi.hut.soberit.agilefant.web.IterationAction" singleton="false"
			autowire="byName">
		<property name="dateFormat">
			<ref local="dateFormat"/>
		</property>		
	</bean>

	<bean name="productAction" class="fi.hut.soberit.agilefant.web.ProductAction"
		autowire="byName" scope="prototype" />

	<bean name="backlogItemAction"
		class="fi.hut.soberit.agilefant.web.BacklogItemAction"
		singleton="false" autowire="byName" />
	<bean name="userAction"
		class="fi.hut.soberit.agilefant.web.UserAction" singleton="false"
		autowire="byName" />
	<bean name="chartAction"
		class="fi.hut.soberit.agilefant.web.ChartAction" singleton="false"
		autowire="byName" />
	<bean name="iterationGoalAction"
		class="fi.hut.soberit.agilefant.web.IterationGoalAction"
		singleton="false" autowire="byName" />
	<bean name="contextStackAction"
		class="fi.hut.soberit.agilefant.web.ContextStackAction"
		singleton="false" autowire="byName" />
	<bean name="refreshUserInterceptor"
		class="fi.hut.soberit.agilefant.web.RefreshUserInterceptor"
		autowire="byName" />
	<bean name="contextViewInterceptor"
		class="fi.hut.soberit.agilefant.web.context.ContextViewInterceptor"
		autowire="byName" />

	<bean name="dailyWorkAction" class="fi.hut.soberit.agilefant.web.DailyWorkAction"
		autowire="byName" scope="prototype" />

	<bean name="projectPortfolioAction"
		class="fi.hut.soberit.agilefant.web.ProjectPortfolioAction"
		singleton="false" autowire="byName" />
	<bean name="teamAction"
		class="fi.hut.soberit.agilefant.web.TeamAction"
		autowire="byName" singleton="false" />
	<bean name="settingAction"
		class="fi.hut.soberit.agilefant.web.SettingAction"
		autowire="byName" singleton="false" />
	<bean name="timesheetAction"
		class="fi.hut.soberit.agilefant.web.TimesheetAction"
		autowire="byName" singleton="false" />
	<bean name="hourEntryAction"
		class="fi.hut.soberit.agilefant.web.HourEntryAction"
		autowire="byName" singleton="false" />
	<bean name="getHourSumAction"
		class="fi.hut.soberit.agilefant.web.GetHourSumAction"
		autowire="byName" singleton="false" />
	<bean name="businessThemeAction"
		class="fi.hut.soberit.agilefant.web.BusinessThemeAction"
		autowire="byName" singleton="false" />
	<bean name="timelineAction"
        class="fi.hut.soberit.agilefant.web.TimelineAction"
        autowire="byName" singleton="false" />
    <bean name="sessionAction"
        class="fi.hut.soberit.agilefant.web.SessionAction"
        autowire="byName" singleton="false" />
    <bean name="jsonAction"
        class="fi.hut.soberit.agilefant.web.JSONAction"
        autowire="byName" singleton="false" />
    <bean name="quickReferenceAction"
        class="fi.hut.soberit.agilefant.web.QuickReferenceAction"
        autowire="byName" singleton="false" />
    <bean name="exportBacklogAction"
        class="fi.hut.soberit.agilefant.web.ExportBacklogAction"
        autowire="byName" singleton="false" />
    <bean name="spentEffortAction"
        class="fi.hut.soberit.agilefant.web.SpentEffortAction"
        autowire="byName" singleton="false" />
         -->
</beans>
