<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
                       "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
	<bean id="placeholderConfig"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>WEB-INF/configuration.properties</value>
				<value>WEB-INF/database.properties</value>
				<value>WEB-INF/configuration-user.properties</value>
			</list>
		</property>
	</bean>

	<bean name="hibernateTransactionManager"
		class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<bean name="dataSource"
		class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName">
			<value>${hibernate.connection.driver_class}</value>
		</property>
		<property name="username">
			<value>${hibernate.connection.username}</value>
		</property>
		<property name="password">
			<value>${hibernate.connection.password}</value>
		</property>
		<property name="url">
			<value>${hibernate.connection.url}</value>
		</property>
	</bean>

	<bean name="sessionFactory"
		class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="configLocation">
			<value>/WEB-INF/hibernate.cfg.xml</value>
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">
					${hibernate.dialect}
				</prop>
				<prop key="hibernate.show_sql">
					false
				</prop>
				<prop key="hibernate.max_fetch_depth">
					1
				</prop>
			</props>
		</property>
	</bean>

	<bean name="contextViewManager"
		class="fi.hut.soberit.agilefant.web.context.DefaultContextViewManager" />

	<bean name="aefFunctions"
		class="fi.hut.soberit.agilefant.web.function.AEFFunctions">
		<property name="maxStrLength" value="15" />
	</bean>

	
</beans>