<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
                       "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
	<bean
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<!--
			This PropertyPlaceholderConfigurer exists only to retrieve system
			properties for placeholders => If agilefant.properties has been
			defined in the system environment, we'll have its location
		-->
		<property name="ignoreUnresolvablePlaceholders" value="true" />
		<property name="order" value="0" />
		<property name="systemPropertiesModeName" value="SYSTEM_PROPERTIES_MODE_OVERRIDE" />
		<property name="properties">
			<props>
				<prop key="agilefant.properties">nonexistent</prop>
			</props>
		</property>
	</bean>
	
	<bean id="applicationProperties"
		class="org.springframework.beans.factory.config.PropertiesFactoryBean">
		<property name="ignoreResourceNotFound" value="true" />
		<property name="locations">
			<list>
				<value>classpath:agilefant.properties</value>
				<value>file://${agilefant.properties}</value>
			</list>
		</property>
		<property name="properties">
			<bean id="defaultProperties"
				class="org.springframework.beans.factory.config.PropertiesFactoryBean">
				<property name="locations">
					<list>
						<value>/WEB-INF/database.properties</value>
						<value>/WEB-INF/configuration.properties</value>
					</list>
				</property>
			</bean>
		</property>
	</bean>
	
	<bean
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="order" value="1" />
		<property name="properties" ref="applicationProperties" />
	</bean>

	<bean name="transactionManager"
		class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

  <bean id="dataSource" class="org.springframework.jndi.JndiObjectFactoryBean">
    <property name="jndiName" value="${agilefant.jndi.name}" />
    <property name="resourceRef" value="true" />
    <property name="defaultObject">
			<bean name="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
			destroy-method="close">
				<property name="driverClassName">
					<value>${hibernate.connection.driver_class}</value>
				</property>
				<property name="username">
					<value>${hibernate.connection.username}</value>
				</property>
				<property name="password">
					<value>${hibernate.connection.password}</value>
				</property>
				<property name="url">
					<value>${hibernate.connection.url}</value>
				</property>
			</bean>
    </property>
  </bean>

	<bean name="sessionFactory"
		class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="configLocation">
			<value>/WEB-INF/hibernate.cfg.xml</value>
		</property>
		<property name="hibernateProperties" ref="applicationProperties" />
	</bean>
	<bean id="DbConnectionInfo"
		class="fi.hut.soberit.agilefant.util.DbConnectionInfo">
			<property name="password">
				<value>${hibernate.connection.password}</value>
			</property>
			<property name="username">
				<value>${hibernate.connection.username}</value>
			</property>
			<property name="url">
				<value>${hibernate.connection.url}</value>
			</property>
			<property name="driver">
				<value>${hibernate.connection.driver_class}</value>
			</property>
	</bean>
	<bean name="aefFunctions" class="fi.hut.soberit.agilefant.web.function.AEFFunctions"></bean>

</beans>
