<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
                       "http://www.springframework.org/dtd/spring-beans.dtd">
<beans default-autowire="byName">

	<bean id="backlogBusiness"
		class="fi.hut.soberit.agilefant.business.impl.BacklogBusinessImpl" />
	<bean id="userBusiness"
		class="fi.hut.soberit.agilefant.business.impl.UserBusinessImpl" />
	<bean id="passwordBusiness" class="fi.hut.soberit.agilefant.business.impl.PasswordBusinessImpl" />
	<bean id="projectBusiness" class="fi.hut.soberit.agilefant.business.impl.ProjectBusinessImpl"/>
	<bean id="backlogItemBusiness" class="fi.hut.soberit.agilefant.business.impl.BacklogItemBusinessImpl"/>
	<bean id="historyBusiness" class="fi.hut.soberit.agilefant.business.impl.HistoryBusinessImpl"/>
	
	<bean name="chartBusiness"
		class="fi.hut.soberit.agilefant.business.impl.ChartBusinessImpl">
		<property name="iterationDAO" ref="iterationDAO" />
		<property name="backlogItemDAO" ref="backlogItemDAO"/>
	</bean>
</beans>