<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
                       "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
	<bean name="activityTypeAction" class="fi.hut.soberit.agilefant.web.ActivityTypeAction" singleton="false" autowire="byName"/>
	<bean name="workTypeAction" class="fi.hut.soberit.agilefant.web.WorkTypeAction" singleton="false" autowire="byName"/>
</beans>