<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<!-- we need the package mapping to make package-info.java work,
		but it won't map all the package classes -->
		<mapping package="fi.hut.soberit.agilefant.model"/>
		
   		<mapping class="fi.hut.soberit.agilefant.model.ActivityType"/>
  		<mapping class="fi.hut.soberit.agilefant.model.AssignEvent"/>
  		<mapping class="fi.hut.soberit.agilefant.model.Backlog"/>
 		<mapping class="fi.hut.soberit.agilefant.model.BacklogItem"/>
 		<mapping class="fi.hut.soberit.agilefant.model.Deliverable"/>
 		<mapping class="fi.hut.soberit.agilefant.model.EstimateHistoryEvent"/>
 		<mapping class="fi.hut.soberit.agilefant.model.EffortHistory"/>
 		<mapping class="fi.hut.soberit.agilefant.model.Iteration"/>
  		<mapping class="fi.hut.soberit.agilefant.model.PerformedWork"/>
 		<mapping class="fi.hut.soberit.agilefant.model.Product"/>
 		<mapping class="fi.hut.soberit.agilefant.model.Task"/>
  		<mapping class="fi.hut.soberit.agilefant.model.TaskComment"/>
 		<mapping class="fi.hut.soberit.agilefant.model.TaskEvent"/>
 		<mapping class="fi.hut.soberit.agilefant.model.User"/>
 		<mapping class="fi.hut.soberit.agilefant.model.WorkType"/>
 		<mapping class="fi.hut.soberit.agilefant.model.IterationGoal"/> 		
 		
 		<mapping class="fi.hut.soberit.agilefant.model.Practice"/>
 		<mapping class="fi.hut.soberit.agilefant.model.PracticeTemplate"/>
 		<mapping class="fi.hut.soberit.agilefant.model.PracticeAllocation"/> 		
 		
		<!-- Activate hibernate validation: these listeners will raise an exception
			 if an annotation validation constraint is violated. -->
	    <event type="pre-update">
	        <listener 
	          class="org.hibernate.validator.event.ValidatePreUpdateEventListener"/>
	    </event>
	    <event type="pre-insert">
	        <listener 
	          class="org.hibernate.validator.event.ValidatePreInsertEventListener"/>
	    </event>
 		
	</session-factory>	
</hibernate-configuration>
