/* ------------ GENERALS ------------- */
#kommentti {
	color: #955;
}

#success {
	color: green;
	padding: 1em;
	margin: 1em;
}

must {
	color: #f33;
}  /* for marking must-fill-field */
#buttons {
	horizontal-align: right;
}  /* not working */
body {
	font-family: verdana, arial, sans-serif;
	margin: 0px;
	padding: 0px;
}

a {
	text-decoration: none;
	color: #336;
	border: 1px solid #aaa;
}

a:hover {
	text-decoration: underline;
	background: #dd6;
	color: #336;
}

/* 
a:link    { color: #336; }
a:visited { color: #336; }
*/
p {
	margin: 0.5em 0.5em;
}

h1,h4 {
	margin: 2px;
	padding: 2px;
	vertical-align: center;
}

h2 {
	font-size: 110%;
	margin: 0.3em;
	padding: 0.1em;
	background: #ccc;
}

h3 {
	font-size: 90%;
	margin: 0.1em;
	padding: 0.1em;
	margin-top: 1em;
	background: #ddd;
	font-weight: bold;
}

th {
	background: #ddd;
	padding: 0.3em;
	font-size: 80%
}

tr {
	background: #dfd;
	padding: 0;
	margin: 0;
}

td {
	white-space: nowrap;
	padding: 0.3em;
}

img {
	margin: 0;
	border: 0;
	padding: 0;
}

#login {
	display: table-cell;
	text-align: right;
	padding-top: 100px;
	padding-left: 150px;
}

/* ---- For General page layout---- */
#t { /* Container for the whole page*/
	display: table;
	width: 100%;
}

#t_row {
	display: table-row;
}

#t_row1 {
	display: table-row;
	vertical-align: bottom;
}

#t_cell {
	display: table-cell;
}

#AgilEFant {
	background: #00a;
	display: table-cell;
	background-image: url(static/img/AgilEFantBar_w.gif);
	/*background-image:  url(img/AgilEFantBar2.gif);
        background-repeat: repeat-x;*/
	text-align: center;
	vertical-align: middle;
	border-bottom: 1px solid black;
	height: 3em;
}

#page {
	padding: 0 1em;
	display: table-cell;
	border-left: 1px solid black;
}

#page li {
	padding: 0.5em;
}

#page li ul li {
	padding: 0.2em;
}

#the_content {
	margin: 2em;
}

#hierarchy {
	list-style-type: none;
}

#hierarchy ul {
	margin: 0em 1em;
	list-style-type: none;
}

#hierarchy ul ul {
	padding: 0.1em 0.5em;
	list-style-type: none;
}

#hierarchy li {
	margin: 0;
	padding: 0 0.5em;
}

#hierarchy li a {
	text-decoration: none;
	font-weight: bold;
}

/* ----- (At least for) Left Menu ----- */
#menu {
	display: table-cell;
	min-width: 10em;
	max-width: 15em;
	text-align: right;
	white-space: nowrap;
}

#menu ul {
	list-style-type: none;
	margin: 1px;
	padding: 0px;
	border: 1px solid #062;
}

#menu ul li {
	position: relative;
}

#menu ul li a {
	padding: 0em 0.5em;
	display: block;
	border-top: 1px solid white;
	border-bottom: 1px solid white;
}

#menu ul li a:hover { /*position: relative;*/
	border-top: 1px solid green;
	border-bottom: 1px solid green;
}

#menu li.normal ul {
	display: none;
	position: absolute /*testi testi testi*/;
}

#menu li.hidden ul {
	position: absolute;
	display: none;
}

#menu li.normal:hover>ul {
	text-align: left;
	min-width: 18em;
	max-width: 20em;
	display: block;
	position: absolute;
	top: -1em;
	left: 100%;
}

#menu a {
	text-decoration: none; /* no underlining */
	background: #ddd; /* light gray */
	font-weight: bold;
	padding: 0em 0.5em; /* small space at left and right*/
	color: #336; /* blueish color */
}

#menu a:hover {
	color: ddd;
	background: #336;
}

/*#menu li.hidden:hover      { position: absolute;  display: none; }
#menu ul img  { display: block; }
#menu li.normal img      { display: none; }
#menu li.hidden img      { position: absolute;  display: block; }

#menu li.normal:hover > img{
        text-align: left;
        display: block;
        position: absolute;
        top: 10;
        left: 10;
        }
*/ /* --------------- */
#upmenu { /*display: table-row;*/ /* do not use this */
	background: #5a9;
	padding: 0.3em;
	margin: 0.3em;
	font-size: 90%
}

#upmenu li,#upmenu a {
	display: table-cell;
	/*display: inline;*/
	vertical-align: middle;
	list-style-type: none;
	text-decoration: none; /* no underline */
	background: #5a9;
	color: white;
	font-weight: bold;
	padding: 0em 0.5em; /* small space at left and right*/
}

#upmenu a {
	border: 1px solid black;
}

#upmenu a:hover {
	color: yellow;
	tsext-decoration: underline;
}

#upmenu ul {
	list-style-type: none;
	padding: 0em 0.5em; /* small space at left and right*/
	border: 1px solid black;
	top: 4.9em;
	margin: 0px;
	padding: 0px;
}

#upmenu ul li {
	list-style-type: none;
	position: relative;
	display: block;
}

#upmenu ul li a {
	padding: 0em 1em;
	border: 0;
}

#upmenu ul li a:hover {
	top: 2em;
	position: relative;
}

#upmenu li.normal ul {
	display: none;
}

#upmenu li.hidden ul {
	position: absolute;
	display: none;
}

#upmenu li.normal:hover>ul {
	margin: 0;
	padding: 0;
	text-align: left;
	min-width: 8em;
	display: block;
	position: absolute;
}

/* --------------- */
#menu non_a:hover {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

#lighter {
	font-size: 60%;
}

#user {
	margin-bottom: 8em;
}

#box {
	width: 95%;
	border: 1px solid #933;
	margin: 0.1em 0.1em;
	padding: 0.5xem 0.5em;
}

#taskbox {
	width: 80%;
	border: 1px solid #933;
	margin: 0.1em 2em;
	padding: 0 2em;
}

#main {
	height: 100%;
}

#footer {
	background: #333;
}

#footer a:link,#footer a:visited,#footer a:active,#footer a:hover {
	color: #fff;
	text-decoration: none;
}