.autocomplete {
  width: 100%;
  height: 100%;
}

.autocomplete-dialog {
  overflow: visible !important;  
}

.autocomplete-dialog div.ui-dialog-content {
  overflow: visible !important;  
}

.autocomplete-left {
  width: 100%;
}

.autocomplete-right {
  width: 25%;
  float: right;
}

.autocomplete-recent-visible .autocomplete-left {
  width: 75% !important;
  margin: 0 25% 0 0 !important;  
}

.autocomplete-searchBoxContainer {
  width: 100%;
  border-bottom: 1px solid #A6C9E2c;
  margin: 0;
  padding: 4px 0;
  height: 25px;
}

.autocomplete-searchBoxContainer input {
  margin-left: 5px;
  width: 80%;
}

.autocomplete-selectedBoxContainer {
  width: 100%;
  min-height: 20px;
}

.autocomplete-suggestionList {
  margin: 0;
  padding: 0;
  background-color: white;
  position: relative;
  width: auto;
  border: 1px solid #A6C9E2;
  border-top-width: 0;
  left: 5px;
  top: -2px;
  z-index: 1000;
}

.autocomplete-suggestionList li {
  margin: 0;
  padding: 5px;
  list-style-type: none;
  border-top: 1px solid #A6C9E2;
  overflow: hidden;
  white-space: nowrap;
}

.autocomplete-suggestionList li:hover {
  cursor: pointer;
  background-color: #dee7f8 !important;
}

.autocomplete-suggestionList li.autocomplete-selected {
  background-color: #ffc; 
}

.autocomplete-selectedItemsList {
  width: 100%;
  margin: 0 4px;
  padding: 0;
}

.autocomplete-selectedItemsList li {
  overflow: hidden;
  display: block;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  border: 1px solid #cad8f3;
  padding: 2px 7px;
  margin: 4px 0;
  background: #dee7f8;
  list-style-type: none;
  width: 80%;  
  font-size: 10pt;
}

.autocomplete-suggestionIcon {
  float: left;
  display: block;
  width: 16px;
  height: 16px;
  margin-right: 6px;
  background-repeat: none;
}

.autocomplete-recentBox {
  overflow: hidden;  
}

.autocomplete-recentBox span {
  font-size: 10pt;
  font-weight: normal;
  text-decoration: underline;
  display: block;
}

.autocomplete-recentBox ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  line-height: 130%;  
}

.autocomplete-recentBox ul li {
  color: #3169C6;
  cursor: pointer;
  white-space: nowrap;
}

.autocomplete-recentBox ul li:hover {
  text-decoration: underline;
}

.autocomplete-userIcon {
  background-image: url('../img/users.png');
}

.autocomplete-teamIcon {
  background-image: url('../img/team.png');
}

.autocomplete-backlogIcon {
  background-image: url('../img/backlog.png');
}

.autocomplete-selectedItemsList li .autocomplete-selectedName {
  float: left;
}

.autocomplete-selectedItemsList li .autocomplete-selectedRemove {
  float: right;
  cursor: pointer;
  font-family: cursive;
  font-size: 9pt;
  font-weight: bold;
}

.autocomplete-selectedItemsList li .autocomplete-selectedRemove:hover {
  color: #9aa8b3;
}

/*
 * Changes for inline row in dialog
 */
.ui-dialog .autocomplete-inline-row {
  overflow: visible;
  height: 2.5em;
}
.ui-dialog .autocomplete-inline-row input {
  margin: 0;
}
