.autocomplete {
  border: 1px solid #ccc;
  width: 400px;
}

.autocomplete-dialog {
  overflow: visible !important;  
}

.autocomplete-dialog div.ui-dialog-content {
  overflow: visible !important;  
}

.autocomplete-searchBoxContainer {
  width: 100%;
  border-bottom: 1px solid #ccc;
  margin: 0;
  padding: 4px 0;
  height: 25px;
}

.autocomplete-searchBoxContainer input {
  margin-left: 5px;
  width: 80%;  
}

.autocomplete-selectedBoxContainer {
  width: 100%;
  min-height: 20px;
}

.autocomplete-suggestionList {
  margin: 0;
  padding: 0;
  background-color: white;
  position: relative;
  width: 80%;
  border: 1px solid #ccc;
  border-top-width: 0;
  left: 5px;
  top: -2px;
  z-index: 1000;
}

.autocomplete-suggestionList li {
  margin: 0;
  padding: 5px;
  list-style-type: none;
  border-top: 1px solid #ccc;
  overflow: hidden;
  white-space: nowrap;
}

.autocomplete-suggestionList li:hover {
  cursor: pointer;
  background-color: #dee7f8 !important;
}

.autocomplete-suggestionList li.autocomplete-selected {
  background-color: #ffc; 
}

.autocomplete-selectedItemsList {
  width: 100%;
  margin: 0 4px;
  padding: 0;
}

.autocomplete-selectedItemsList li {
  overflow: hidden;
  display: block;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  border: 1px solid #cad8f3;
  padding: 2px 7px;
  margin: 4px 0;
  background: #dee7f8;
  list-style-type: none;
  width: 80%;  
  font-size: 10pt;
}

.autocomplete-suggestionIcon {
  float: left;
  display: block;
  width: 16px;
  height: 16px;
  margin-right: 6px;
  background-repeat: none;
}

.autocomplete-userIcon {
  background-image: url('../img/users.png');
}

.autocomplete-teamIcon {
  background-image: url('../img/team.png');
}

.autocomplete-backlogIcon {
  background-image: url('../img/backlog.png');
}

.autocomplete-selectedItemsList li .autocomplete-selectedName {
  float: left;
}

.autocomplete-selectedItemsList li .autocomplete-selectedRemove {
  float: right;
  cursor: pointer;
  font-family: cursive;
  font-size: 9pt;
  font-weight: bold;
}

.autocomplete-selectedItemsList li .autocomplete-selectedRemove:hover {
  color: #9aa8b3;
}
