#details-pane h1 {
    font-style: normal;
    font-size: 14pt;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}

#details-pane h2 {
    font-style: normal;
    font-size: 11pt;
    margin-top: 0.1em;
    margin-bottom: 0.1em;
}

#details-pane ul {
    list-style-type: square;
}

#details-pane {
    padding: 0.4em;
}
 
#dailyWorkTabsContainer {
  min-width: 750px;  
}

#work-queue-container {
	position: relative;
}

.details-expanded #work-queue-div {
  width: 75%;
}

.details-contracted #work-queue-div {
  width: auto;
}

.details-expanded #work-queue-details-div {
  width: 24%;
  float: right;
  margin-bottom: 1em;
}

#details-container {
    padding: 0.2em;
}

.details-contracted #work-queue-details-div {
  display: none;
}


#my-work-div {
  min-width: 750px;
}

#story-list-div {
	clear: right;
}

.iteration-burndown {
	width: 110px;
	height: 85px;
}

.dynamictable .dynamictable-row a.daily-work-task-context  {
	color: #1E5EEE !important;
}

.dynamictable .dynamictable-row a.daily-work-task-context:hover {
  color: #e50 !important;
}

.dynamictable .dynamictable-row a.daily-work-story-context  {
	color: #1E5EEE !important;
}

.dynamictable .dynamictable-row a.daily-work-story-context:hover {
  color: #e50 !important;
}
