.dynamictable {
  border: 1px solid #ccc;
  width: 100%;
  overflow: hidden;
}

.dynamictable-row {
	margin: 3px 0;
	padding: 0;
  width: 100%;
  overflow: hidden;
}

.dynamictable .dynamictable-row .dynamictable-cell {
  min-height: 15px;
  max-height: 29em;
  min-width: 30px;
  display: block;
  width: auto;
  float: left;
  margin: 0 0 -29.5em 0;
  padding: 0 0 30em 3px;
  overflow: hidden;
  border-style: solid;
  border-color: #fff;
  border-width: 0 2px 0 1px;
}

.dynamictable-placeholder {
  margin: 3px 2px 3px 2px; height : 1.5em;
  background-color: #ffffdd;
  border: 1px dashed #666;
  height: 3em;
  width: 95%;
}

.dynamictable-header .dynamictable-cell {
  font-weight: bold;
  background-color: #ddd !important;
}

.dynamictable-header .dynamictable-cell {
  padding-left: 4px;  
}

.dynamictable-even .dynamictable-cell {
  background-color: #eee;  
}

.dynamictable-odd .dynamictable-cell {
  background-color: #fff;
}

.dynamictable-padder {
  width: 100%;
  height: 1px;
  margin: 0;
  padding: 0;
}
.actionCell {
	background-color: #ccc;
	border: 1px solid black;
	width: 50px;
	padding: 0;
	margin: 0;
}
.actionCell li {
	list-style: none;
	margin: 0;
	padding: 0;	
}

div.okMessage {
	background-color:#00FFCC;
	border:1px solid #CCCCCC;
	font-weight:bold;
	padding:3px 5px;
	position:fixed;
	right:100px;
	top:82px;
	z-index:3699;
}
div.errorMessage {
	background-color:#FF0066;
	border:1px solid #CCCCCC;
	font-weight:bold;
	padding:3px 5px;
	position:fixed;
	right:100px;
	top:82px;
	z-index:3699;
}