.dynamictable {
 /* border: 1px solid #ccc;*/
  width: 100%;
  overflow: hidden;
  margin-top: 5px;
}

.dynamictable-caption {
	border-bottom:2px solid #CCCCCC;
	font-weight:bold;
	height:19px;
	padding:0 0 0 0.5em;
	font-size: 12pt;
	padding-top: 6px;
}

.dynamictable-row {
	margin: 3px 0;
	padding: 0;
  width: 100%;
  overflow: hidden;
}

.dynamictable .dynamictable-row .dynamictable-cell {
  min-height: 15px;
  max-height: 999em;
  min-width: 30px;
  display: block;
  width: auto;
  float: left;
  margin: 0 0.2% -1000em 0;
  padding: 0 0 1000.2em 0.2%;
  overflow: hidden;
  border: none;
}

.dynamicTableRow-drag {
	background-color: #dddddd;	
	border: 1px solid #aaaaaa;
}
.dynamictable-cell span {
    
}

.dynamictable-sortimg {
  background-image: url('../img/sort.png');
  background-position: 0% 0%;
  width: 8px;
  height: 8px;
  float: left;
  margin: 5px 2px 0 0; 
}

.dynamictable-sortimg-up {
  background-position: 100% 0%;
}
.dynamictable-sortimg-down {
  background-position: 0% 100%;
}

.dynamictable-placeholder {
  margin: 3px 2px 3px 2px;
  background-color: #ffffdd;
  border: 1px dashed #666;
  height: 3em;
  width: 98%;
}

.dynamictable-header .dynamictable-cell {
  font-weight: bold;
  background-color: #d6dde5 !important;
  padding-left: 4px;
}
.dynamictable-header .dynamictable-cell a, .dynamictable-header .dynamictable-cell span {
  white-space: nowrap;
}

.dynamictable-even .dynamictable-cell {
  background-color: #eee;  
}

.dynamictable-odd .dynamictable-cell {
  background-color: #fff;
}

.dynamictable-padder {
  width: 100%;
  height: 1px;
  margin: 0;
  padding: 0;
}
.actionCell {
	background-color: #fcfcfc;
	border: 1px solid black;
	padding: 3px;
	margin: 0;
	cursor: pointer;
}

.actionCell li {
	list-style: none;
	margin: 0;
	padding: 2px 2px 0 3px;
	min-width: 70px;	
}

.actionCell li:hover {
  background: transparent url(../img/gradient.png) 80% 60% repeat-x;
  cursor: pointer;
}  

div.genericMessage {
  font-weight: bold;
  position: fixed;
  top: 200px;
  right: 100px;
  padding: 3px;
  border-width: 3px;
  border-style: solid;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  z-index: 3699;
  max-height: 400px;
  max-width: 700px;
  overflow: hidden;
}

div.okMessage {
	background-color: #cfc;
	border-color: #55CC55;
	color: #3a3;
}
div.errorMessage {
	background-color: #fcc;
	border-color: #c55;
	color: #a33;
}

div.genericMessage .messageArea {
    float: left;
    max-height: 400px;
    max-width: 650px;
    overflow: auto;    
}

div.genericMessage .closeButton {
    cursor: pointer;
    float: right;
    font-family: cursive;
    font-size: 11pt;
    padding: 0 5px;
}

div.genericMessage .closeButton:hover {
    color: rgba(0,0,0,0.2);
}

div.gear {
  width: 16px;
  height: 16px;
  background-image: url('../img/gear.png');
  background-position: 0%;
  background-repeat: no-repeat;
}

.actionColumn, .actionColumn div{
  cursor: pointer;
  white-space: nowrap;
}

.actionColumn:hover .gear {
  background-position: 100%;
}

.invalidValue {
  background-color: #FF6666;
}
.dynamictable-cell .cellError {
    position: relative !important;
    overflow: visible !important;
    height: 2em;
    width: 40em;
}
.validationError {
  width: 150px;
  background-color: #FFFF66;
  border: 1px solid #FFFFFF;
}

li.dynamictable-captionaction {
  background-color: #f3f3f3;
  float: left !impotant;
  border: 1px solid black;
  margin-left: 5px;
  padding: 1px 7px 1px 2px;	
  width: 105px;
  font-weight: normal;
  -moz-border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  border-radius: 0.5em;
  text-align: center;
  font-size: 10pt;
}

.dynamictable-captionaction:hover {
  float: left !impotant;
  cursor: pointer;
  color: #e50;
}
.dynamictable-captionaction div.create {
  background-image: url('../img/create_new.png');
  background-position: 0%;
}
.dynamictable-captionaction:hover div.create {
  background-image: url('../img/create_new.png');
  background-position: 100%;
}
.dynamictable-captionaction div.show {
	background-image:url(../img/open_close.png);
	background-position:0 0;
}
.dynamictable-captionaction:hover div.show {
	background-image:url(../img/open_close.png);
	background-position:100% 0;
}
.dynamictable-captionaction div.hide {
	background-image:url(../img/open_close.png);
	background-position:0 100%;
}
.dynamictable-captionaction:hover div.hide {
	background-image:url(../img/open_close.png);
	background-position:100% 100%;
}
.dynamictable-captionaction div.effort {
	background-image:url(../img/timesheets_new.png);
	background-position:0 0;
}
.dynamictable-captionaction:hover div.effort {
	background-image:url(../img/timesheets_new.png);
	background-position:100% 0;
}
.dynamictable-captionactions {
  margin-top: 0px;
  padding-left: 0px;
  display: inline;
  list-style: none;
  list-style-type: none;
  width: 60%;
}

.dynamictable-expand {
	background-image:url(../img/open_close.png);
	background-position:0 0;
	background-repeat:no-repeat;
	cursor:pointer;
	height:16px;
	width:16px;
	margin-top: 2px;
	margin-right: 4px;
	float: right;
}
.dynamictable-collapse {
	background-image:url(../img/open_close.png);
	background-position:0 100%;
	background-repeat:no-repeat;
	cursor:pointer;
	height:16px;
	width:16px;
	margin-top: 2px;
	margin-right: 4px;
	float: right;
}
.dynamictable-expand:hover {
  background-position: 100% 0;  
}
.dynamictable-collapse:hover {
  background-position: 100% 100%;  
}

.tabMenu {
  width: 15%;
  /*height: 100%;*/
  min-height: 15px;
  max-height: 999em;
  min-width: 30px;
  display: block;
  width: 12%;
  float: left !important;
  background-color: #fff;
  margin: 0 0.2% -1000em 0;
  padding: 0 0 1000.5em 0.2%;
  overflow: hidden;
  border: none;
		
}
.cellTabs .ui-tabs-nav li {
	float: none !important;
	background-image: url('../img/vert_tabs.png') !important;
	background-position: 100% 51% !important;
	border: 1px solid #bba !important;
}

.cellTabs .ui-tabs-nav li.ui-state-active {
  background-position: 100% 87% !important;
}

.cellTabs .ui-tabs-nav li:hover {
  background-position: 100% 15% !important;
}

.cellTabs .ui-tabs-nav li a {
  background: none !important;  
}

.cellTabs .ui-tabs-nav li a span {
	text-align: right;
	background: none !important;
}
.tabData {
  min-height: 15px;
  max-height: 999em;
  min-width: 30px;
  width: 86%;
  float: left !important;
  margin: 0 0.2% -1000em 0;
  padding: 0 0 1000.5em 0.2%;
  overflow: hidden;
  border: none;
}
.drophover {
	opacity: .4;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
	filter: alpha(opacity=40);
}

.actionColumn .edit {
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius: 5px;
	background-color:#f3f3f3;
	border:0.5px solid black;
	font-size:10pt;
	height:16px !important;
	padding-left:3px;
	padding-right:3px;
	white-space:nowrap !important;
	width:24px;
}
.actionColumn .edit:hover {
	color: #e50;
}

.dragHandle:hover {
	background-color: #f91 !important;
	cursor: move;
}
.taskState {
	display: block;
	width: 80px;
	padding: 1px;
	text-align: center;
	-moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid rgba(0,0,0,0.3);
}
.taskStateNOT_STARTED {
	background-color: #dddddd;
}
.taskStateSTARTED {
	background-color: #ffdd88;
}
.taskStatePENDING {
	background-color: #66ddff;
}
.taskStateBLOCKED {
	background-color: #e33;
	color: #eee;
}
.taskStateIMPLEMENTED {
	background-color: #66ff66;
}
.taskStateDONE {
	background-color: #00bb44;
	color: #eee;
}
.storyState {
	display: block;
	width: 80px;
	padding: 1px;
	font-size: 9pt;
	text-align: center;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
  border-radius: 2px;
}
.storyStateNOT_STARTED {
	background-color: #dddddd;
}
.storyStateSTARTED {
	background-color: #ffdd88;
}
.storyStatePENDING {
	background-color: #66ddff;
}
.storyStateBLOCKED {
	background-color: #e33;
	color: #eee;
}
.storyStateIMPLEMENTED {
	background-color: #66ff66;
}
.storyStateDONE {
	background-color: #00bb44;
	color: #eee;
}
.dynamictable .dynamictable-row .description-cell {
	min-height: 0px !important;	
/*	max-height: 15em !important;*/
/*	overflow: auto !important;*/
}
.dynamictable .dynamictable-row .description-cell > span {
	margin-left: 8%;
	color: #666;	
	margin-right: 4%;
	font-size: 8pt;
	color: #555;
	display: block;
} 
.taskTable {
  width: 92%;
  margin-left: 4%;
  margin-right: 4%;
}
.dynamictable .dynamictable-row .projectstory-row {
  background-color: #edf;
}
.dynamictable .dynamictable-row .projectstory-responsibles {
  background-color: #edf;
  cursor: pointer;
}

.dynamictable .dynamictable-row .story-row {
	background-color: #e9eeff;
}
.dynamictable .dynamictable-row .story-task {
	background-color: #e9eeff;
	cursor: pointer;
}
.dynamictable .dynamictable-row .story-data {
	background-color: #fff;
}
.dynamictable .dynamictable-row .story-responsibles {
  background-color: #e9eeff;
  cursor: pointer;
}
.dynamictable .dynamictable-row .story-estimate {
  background-color: #e9eeff;
}
.dynamictable .dynamictable-row .task-row {
	background-color: #eee;
}
.dynamictable .dynamictable-row .task-data {
	background-color: #fff;
}
.dynamictable .dynamictable-row .text-editor {
  cursor: text;  
}
.dynamictable-header > .story-row,
.dynamictable-header > .story-task,
.dynamictable-header > .story-responsibles,
.dynamictable-header > .story-estimate {
	background-color: #fff !important;
}
.dynamictable-header > .task-row {
	background-color: #fff !important; 
}
.dynamictable-tasklist-cell {
  background-color: #eee;  
}
div.loadingStories { 
	background-color:#EEEEEE;
	border:1px solid #666666;
	font-size:10pt;
	font-style:italic;
	height:55px;
	margin:15px 5px 0;
	padding:30px 0 0 10px;
	width:100%;
}

ul.storyTabs {
   height: 21px;
}