/**
 * CSS style sheet for story hierarchy.
 */

div.hierarchyContainer {

}

.hierarchyContainer h2 {
    
}

.hierarchyContainer ul {
  line-height: 150%;
  list-style-image: url('../img/hierarchy_arrow.png');
}

.hierarchyContainer ul li {
  color: #666;
}

.hierarchyContainer ul li.currentItem {
  color: #000;
  font-weight: bold;
}

.hierarchyContainer ul li span {
  /*cursor: pointer;*/
}

/**
 * EDIT BUTTON
 */
.hierarchyContainer .editButton {
  white-space: nowrap;
  display: inline;
  margin-left: 1em;
  padding: 0.1em 0.3em;
  font-size: 80%;
  text-align: center;
  border: 1px solid #ccc;
  -moz-border-radius: 0.2em;
  -webkit-border-radius: 0.2em;
  background: #eee;
  cursor: pointer;
}

.hierarchyContainer .editButton:hover {
  color: #E17009;
}

.editButtonMenu {
  display: block;
  position: absolute;
  
  z-index: 500;
  
  list-style-type: none !important;
  list-style-image: none !important;
  
  border: 1px solid #ccc;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  
  width: 10em;
  background: #fcfcfc;
  margin: 0;
  padding: 0;
  
  font-size: 125%
}

.editButtonMenu li {
  margin: 0;
  padding: 0 0 0 1em;
  text-align: left;
}

.editButtonMenu li:hover {
  background: transparent url(../img/gradient.png) 80% 60% repeat-x;
  cursor: pointer;
}