/**
 * CSS attributes for styling the ui.
 *
 * Contents:
 *  - Menu collapsing
 *  - Left hand menu
 *  - Backlog info tables
 *  - Create new menu
 *  - Navigation tabs
 *  - Footer
 *  - Daily work styles
 */
 
/**
 * OVERALL LAYOUT
 */
  
/**
 * Should be used for all main level blocks. 
 */
.structure-main-block {
  min-width: 750px;
  width: 98% !important;
}

/**
 * MENU HIDING 
 */

.menu-collapsed #navigationTabsWrapper {
  margin-left: 3em;
}

.menu-collapsed #menuWrapper {
  width: 2em;
}

.menu-collapsed #menuContent {
  position: relative;
  left: -100px;
  width: 1px;
  overflow: hidden;
}

.menu-collapsed #bodyWrapper {
  margin: 0 0 0 2em !important;  
}

.menu-collapsed #menuToggleControl {
  background-position: 100% 0%;  
}
.menu-collapsed #menuToggleControl:hover {
  background-position: 100% 100%;  
}

/**
 * LEFT HAND MENU
 */
#menuContent ul {
  margin: 0;
  padding: 1em;  
}

#menuContent ul li {
  list-style-type: none;  
}

#menuAccordion .ui-accordion-header {
	margin-bottom: 1px;
}

#menuAccordion .ui-state-active {
	border-bottom-color: #d0e6f6 !important;
}

#menuAccordion .ui-accordion-header .ui-icon {
	left: auto;
}

#menuAccordion .ui-accordion-header a {
	padding: 0.3em 0.3em 0.3em 1.5em;
}

#menuAccordion .ui-accordion-content {
	padding: 0 0 1em 0;
}

/* BACKLOG INFO TABLES */
 
.structure-main-block ul.backlogTabs {
  height: 24px !important;  
}
.structure-main-block div.details {
  min-height: 200px;
}

.structure-main-block th {
  background-color: white;  
} 

/**
 * CREATE NEW -menu
 */
 
#createNewMenuWrapper {
  margin-right: 1em;
  float: right;
}

ul#createNewMenu {
  margin: 0;
  padding: 5px 0;
  position: absolute;
  border: 1px solid #aaa;
  background: #fcfcfc;
  top: 2em;
  width: 9em;
  z-index: 300;
  overflow: hidden;
  
  -moz-border-radius:    5px;
  -webkit-border-radius: 5px;
}

ul#createNewMenu li {
  height: 1.5em;
  background-color: transparent;
  list-style-type: none;
  margin: 0;
  padding-top: 0.2em;
}

ul#createNewMenu li:hover {
  background-color: #ccc;
}

ul#createNewMenu a, ul#createNewMenu span.inactive {
  text-decoration: none !important;
  display: block;
  padding-left: 8px;
  width: 100%;
  height: 100%;
}

ul#createNewMenu li.separator, ul#createNewMenu li.separator:hover {
  display: block;
  background: #aaa;
  width: 100%;
  height: 1px;
  padding: 0;
  margin: 5px 0;
}

/**
 * NAVIGATION TABS
 */

#navigationTabsWrapper {
  margin-left: 16em;
  float: left;
  height: 21px;
}

#navigationTabsWrapper ul, #navigationTabsWrapper ul li {
  display: inline;
  margin: 0;
  padding: 0;
  list-style-type: none;  
}

#navigationTabsWrapper ul li {
  border-width: 1px 1px 0 1px;
  border-color: #A6C9E2;
  border-style: solid;
  -moz-border-radius-bottomleft:  0;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-bottom-right-radius:  0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  padding: 0; 
  margin: 0 0.5em 0 0;
  background: #dfeffc url("../img/ui/ui-bg_glass_85_dfeffc_1x400.png") repeat-x scroll 50% 50%;
  display: block;
  height: 20px;
  float: left;
}

#navigationTabsWrapper ul li.navitab-selected {
  background: #fff;
  height: 21px;
}

#navigationTabsWrapper ul li a {
  font-weight: bold !important;
  color: #2E6E9E !important;
  margin: 0 0.7em;
}

#navigationTabsWrapper ul li.navitab-selected a {
  color: #E17009 !important;  
}

#navigationTabsWrapper ul li span img {
  position: relative;
  top: 2px;  
}

/**
 * JQUERY TABS FIXES
 */
.ui-tabs-nav {
  height: 23px !important;  
}

/**
 * jQuery labelify
 */
input.inputHighlight {
  color: #999;
}

/**
 * jQuery autosuggest
 */
 
input.as-input-starttext {
  color: #999;
}

/**
 * FOOTER STYLES
 */
#footerText a:link, #footerText a:visited, #footerText a:active {
  color: #444;
  text-decoration: none;
  cursor: pointer;  
}

#footerText a:hover {
  color: #e50;  
}

div#footerText label {
  cursor: pointer;
}


#menuAccordion .ui-accordion-header, #menuAccordion .ui-accordion-content {
  margin-right: 2px !important;
  margin-left: 2px !important;
}


/**
 * SMALL BURNDOWN
 */
div.smallBurndown {
  border-width: 2px;
  border-style: outset;
  border-color: #ccc;
  
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  
  background-repeat: no-repeat;
  background-position: -5px -5px;
  
  height: 75px;
  width: 100px;
  
  margin: 0 0 1em 3.2em;
}


/**
 * SETTINGS PAGE
 */
.settings-table {
  border-collapse: collapse;
  white-space: nowrap;
  width: 500px;
}

.setting-table tr {
  width: 100%;  
}

.settings-table tr:nth-child(even) {
  background: #eee;
}

.settings-table tr:nth-child(odd) {
  background: #fff;
}


.settings-table td {
  background: transparent;
  width: 50%;
  border: 1px solid #999;
  text-align: left;
  padding: 0.2em 0.5em;
  height: 2em;
}

.settings-table tr td:first-child {
  text-align: right;
  font-weight: bold;
}

h2 > a {
	color: #2E6E9E !important;
}

h2 > a:visited {
  color: #2E6E9E !important;
}

h2 > a:hover {
  color: #2E6E9E !important;
}

