/**
 * CSS style sheet for story hierarchy.
 */

div.hierarchyContainer {

}

.hierarchyContainer h2 {
    
}

.hierarchyContainer ul {
  line-height: 150%;
  list-style-image: url('../img/hierarchy_arrow.png');
}

.hierarchyContainer ul li {
  color: #666;
}

.hierarchyContainer ul li.currentItem {
  color: #000;
  font-weight: bold;
}

.hierarchyContainer ul li span {
  /*cursor: pointer;*/
}

.tree .tree-hideByFilter {
  display: none !important;
}

.tree .tree-highlightByFilter {
  background: #ffc !important;
  border: 1px dashed #996;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
}

.tree span.nodeInfo {
  margin: 0;
  padding: 0;
}


/**
 * DETAILS BUBBLE
 */
.story-details-bubble {
  position: absolute;
  min-height:   80px;
  min-width:    350px;
  max-width:    400px;
  padding: 0.5em;
  z-index:  1000;
  background: white;
  border:   1px solid #999;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px; 
}

.story-details-bubble-helperarrow {
  background: url('../img/bubble_arrow.png');
  height: 21px;
  width: 18px;
  position: absolute;
  top: -21px;
  left: 20px;
  z-index: 1001;
}

.story-details-bubble h3 {
  margin: 0;  
}

.story-details-bubble div.details-links {
  float: right;
  text-align: right;
  clear: both;
  color: #1E5EEE;
}

.story-details-bubble a {
  font-size: 80%;
  text-decoration: underline;
  cursor: pointer;
  margin: 0.1em 0.3em;
}

.story-details-bubble table {
  border-collapse: collapse;
  margin: 0.5em;
}

.story-details-bubble .infotable {
  width: 100%;  
}

.story-details-bubble th, .story-details-bubble td {
  /*border: 1px solid #ccc;*/
  background: transparent;  
}

