/* HEADINGS */
html, p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
}

h1 {
  margin: none !important;  
  margin: none !important;
  font-family: Lucida, sans-serif;
  font-size: 30pt;
  font-weight: bold;
  font-style: italic;
  color: #333;
}

h2 {
  color: #2e6e9e;  
}

h2 {
  font-size: 1.2em;  
}

h3 {
  color: #666;
  font-size: 1.1em;  
}

h4 {
  color: #444;
  margin: 0 0 0 5px;
  font-weight: bold;  
}


/* LINKS */
a:link, a:visited {
  color: #1E5EEE;
  text-decoration: none;
}

a:hover,a:active {
  color: #e50;
}