/**
 * CSS style sheet for story hierarchy.
 */

div.hierarchyContainer {

}

.hierarchyContainer h2 {
    
}

.hierarchyContainer ul {
  line-height: 150%;
  list-style-image: url('../img/hierarchy_arrow.png');
}

.hierarchyContainer ul li {
  color: #666;
}

.hierarchyContainer ul li.currentItem {
  color: #000;
  font-weight: bold;
}

.hierarchyContainer ul li span {
  /*cursor: pointer;*/
}
.storyTreeContainer {
  position: relative;
  overflow: hidden;
}
.storytree-actions {
  position: absolute;
  top: 1em;
  right: 0;
  z-index: 500;
  background: white;
  width: 35ex;
  border: 1px solid #999;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px
}

.storytree-actions .headerbar {
  margin: 0 0 5px;
  background-image: url('../img/ui/ui-bg_gloss-wave_55_5c9ccc_500x100.png');
  background-position: 50% 55%;
  color: white;
  padding: 2px 4px 2px 10px;
  font-weight: bold;
}

.storytree-actions .collapse-handle {
  cursor: pointer;
}

.storytree-actions .buttons {
  margin: 10px;  
}

.storytree-actions .buttons button {
  margin: 4px;  
}


/**
 * DETAILS BUBBLE
 */
.story-details-bubble {
  position: absolute;
  min-height:   80px;
  min-width:    400px;
  max-width:    700px;
  padding: 0.5em;
  z-index:  1000;
  background: white;
  border:   1px solid #999;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px; 
}

.story-details-bubble-helperarrow {
  background: url('../img/bubble_arrow.png');
  height: 21px;
  width: 18px;
  position: absolute;
  top: -21px;
  left: 20px;
  z-index: 1001;
}

.story-details-bubble h3 {
  margin: 0;  
}

.story-details-bubble div.details-links {
  float: right;
  text-align: right;
  color: #1E5EEE;
  margin-right: 1em;
}

.story-details-bubble a {
  font-size: 80%;
  text-decoration: underline;
  cursor: pointer;
  margin: 0.1em 0.3em;
  color: #1E5EEE;
}
.story-details-bubble a:hover {
  color: #e50;
}

.story-details-bubble a.close-button {
  font-size: 120%;
  text-decoration: none;
  font-weight: bold;
  float: right;
  color: #666;
  font-family: cursive;
}
.story-details-bubble a.close-button:hover {
  color: black;  
}
