/**
 * AGILEFANT Style sheet
 *
 * This file is intended for the main structure of Agilefant.
 * Don't misuse. 
 *
 * Author:    Reko Jokelainen
 * Date:      09/2009
 */
@import "structure.text.css";
@import "structure.ui.css";

@import "jquery-ui.css";
@import "jquery.wysiwyg.css";
@import "ui.dynatree.css";

@import "autocomplete.css";
@import "dynamictable.css";

html, body {
  margin: 0;
  padding: 0;
}

img {
  border: 0;  
}

/* HEADER WRAPPER */

#headerWrapper {
  width: auto;
  margin: 0;
  padding: 1em;
  height: 7em;
}

#headerWrapper img {
  float: left;  
}

/* CONTROLS WRAPPER */

#controlWrapper {
  width: auto;
  margin: 0;
  padding: 0.5em;
  height: 1em;
  border-bottom: 1px solid #ccc;  
}

/* MENU WRAPPER */

#menuWrapper {
  width: 15em;
  float: left;
  overflow: hidden;
}

#menuControl {
  float: right;
  padding: 2px 5px;  
}

/* BODY WRAPPER */

#bodyWrapper {
  width: auto;
  margin: 0 0 0 15em;
  padding: 1em 2em;
  border-left: 1px solid #ccc;
}

#layoutEmptyDiv {
  background-color: transparent;
  width: 100%;
  height: 1px;
  clear: both;  
}

/* FOOTER WRAPPER */

#footerWrapper {
  width: auto;
  margin: 0;
  padding: 0.7em;
  height: 2em;
  clear: both;
  border-top: 1px solid #ccc;
}



