/* HEADINGS */
html, p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
}

h1 {
  margin: none !important;  
  margin: none !important;
  font-family: Lucida, sans-serif;
  font-size: 30pt;
  font-weight: bold;
  font-style: italic;
  color: #333;
}

h2 {
  color: #2e6e9e;  
}

h2 {
  font-size: 1.2em;  
}

h2 > a {
  color: #2E6E9E !important;
}

h2 > a:visited {
  color: #2E6E9E !important;
}

h2 > a:hover {
  color: #2E6E9E !important;
}


h3 {
  color: #666;
  font-size: 1.1em;  
}

h4 {
  color: #444;
  margin: 0 0 0 5px;
  font-weight: bold;  
}

/*
 * SPECIAL TEXT STYLES
 */
.strong-text {
  font-weight: bold;
}
.superScript {
  font-size: 8pt !important;
  vertical-align: top !important;  
}
.smallGreyText {
  font-size: 80% !important;
  color: #666 !important;  
}
.noBottomMargin {
  margin-bottom: 0 !important;  
}

/* LINKS */
a:link, a:visited {
  color: #1E5EEE;
  text-decoration: none;
}

a:hover,a:active {
  color: #e50;
}



/**
 * QUICK HELP
 */
.quickHelpLink {
  font-size: 80%;
  color: #1e5eee !important;
  text-decoration: underline;
}