/**
 * AGILEFANT Style sheet
 *
 * This file is intended for the main structure of Agilefant.
 * Don't misuse. 
 *
 * Author:    Reko Jokelainen
 * Date:      09/2009
 */
@import "structure.tables.css";
@import "structure.text.css";
@import "structure.ui.css";
@import "structure.hierarchy.css";

@import "jquery-ui.css";
@import "jquery.wysiwyg.css";
@import "ui.dynatree.css";

@import "autocomplete.css";
@import "dynamictable.css";

@import "timesheets.css";
@import "autoSuggest.css";

html, body {
  margin: 0;
  padding: 0;
}

img {
  border: 0;  
}

/* HEADER WRAPPER */

#headerWrapper {
  width: auto;
  margin: 0;
  padding: 0.3em 1em 1em;
  height: 3em;
  overflow: hidden;
}

#headerDiv {
  float: left;  
}

#headerDiv img {
  float: left;
  height: 52px;
}

#headerDiv h1 {
  margin: 0 0 0 1.8em;
  padding: 0.3em 0 0 0;
  font-size: 2em;
}

#logoutDiv {
  margin-top: 0.2em;
  float: right;
  height: 1.5em;
  overflow: visible;
}

#logoutDiv a {
  text-decoration: underline;
  margin: 0 0.1em;  
}

/* CONTROLS WRAPPER */

#controlWrapper {
  width: auto;
  margin: 0;
  padding: 0 0.5em 0.5em 0.5em;
  height: 1em;
  border-bottom: 1px solid #A6C9E2;
  white-space: nowrap;
}

/* MENU WRAPPER */

#menuWrapper {
  width: 15em;
  float: left;
  overflow: hidden;
  position: relative;
}

#menuControlPanel {
	position: absolute;
	right: 5px;
	top: 3px;
	z-index: 100;
}

#menuControlPanel div {
  height: 16px;
  width: 16px;
  margin: 2px 0 0 0;
  padding: 0;
  cursor: pointer;
  background-position: 0% 0%;
}

#menuControlPanel div:hover {
  background-position: 0% 100%;
}

#menuToggleControl {
  background: url('../img/toggle.png');
}

#menuContent {
  margin-top: 2px; 
}

/* BODY WRAPPER */

#bodyWrapper {
  width: auto;
  margin: 0 0 0 15em;
  padding: 1em 2em 1em 1em;
  border-left: 1px solid #A6C9E2;
}

#layoutEmptyDiv {
  background-color: transparent;
  width: 100%;
  height: 1px;
  clear: both;  
}

/* FOOTER WRAPPER */

#footerWrapper {
  width: auto;
  margin: 0;
  padding: 0.7em;
  height: 2em;
  clear: both;
  border-top: 1px solid #A6C9E2;
}

.ui-dialog .ui-dialog-buttonpane {
	text-align: right;
}
.ui-dialog .ui-dialog-buttonpane button {
	float: none;
} 
