/**
 * CSS style sheet for story hierarchy.
 */
div.hierarchyContainer {
  
}

.hierarchyContainer h2 {
  
}

.hierarchyContainer ul {
  line-height: 150%;
  list-style-image: url('../img/hierarchy_arrow.png');
}

.hierarchyContainer ul li {
  color: #666;
}

.hierarchyContainer ul li.currentItem {
  color: #000;
  font-weight: bold;
}

.hierarchyContainer ul li span { /*cursor: pointer;*/
  
}

.storyTreeContainer {
  position: relative;
  overflow: hidden;
}

.storytree-actions {
  position: absolute;
  top: 1em;
  right: 0;
  z-index: 500;
  background: white;
  width: 35ex;
  border: 1px solid #999;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.storytree-actions .headerbar {
  margin: 0 0 5px;
  background-image:
    url('../img/ui/ui-bg_gloss-wave_55_5c9ccc_500x100.png');
  background-position: 50% 55%;
  color: white;
  padding: 2px 4px 2px 10px;
  font-weight: bold;
}

.storytree-actions .collapse-handle {
  cursor: pointer;
}

.storytree-actions .buttons {
  margin: 10px;
}

.storytree-actions .buttons button {
  margin: 4px;
}

.jstree .inlineTaskState {
  display: inline-block;
  padding: 0 !important;
  width: 1.5em;
  height: 1.5em;
  line-height: 16px;
}

.treeStoryPoints {
  display: inline-block;
  background: #ffc;
  min-width: 2ex;
  border: 1px solid #cca;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
  /*vertical-align: middle !important;*/
  line-height: 14px !important;
  font-size: 80%;
  height: 14px !important;
  padding: 0 2px;
}
/**
 * LABEL ICONS
 */
.labelIcon {
  display: inline-block;
  background-image: url('../img/labelIcon.png');
  background-position: 0 0;
  background-repeat: no-repeat;
  padding: 0 !important;
  color: #246 !important;
  font-size: 7pt;
  font-family: verdana, arial, sans-serif;
  text-align: center;
  text-transform: uppercase;
  width: 36px;
  height: 16px;
  line-height: 16px;
}

.labelIconMultiple {
  background-position: 0 50%;
}

.labelIconNoLabel {
  background-position: 0 100%;
}

/**
 * DETAILS BUBBLE
 */
.infobubble {
  position: absolute;
  max-width: 700px;
  padding: 0.5em;
  background: white;
  border: 1px solid #999;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.infobubble-helperarrow {
  background: url('../img/bubble_arrow.png');
  height: 21px;
  width: 18px;
  position: absolute;
  top: -21px;
  left: 20px;
  z-index: 1001;
}

.infobubble h3 {
  margin: 0;
}

.infobubble div.details-links {
  float: right;
  text-align: right;
  color: #1E5EEE;
  margin-right: 1em;
}

.infobubble a {
  font-size: 80%;
  text-decoration: underline;
  cursor: pointer;
  margin: 0.1em 0.3em;
  color: #1E5EEE;
}

.infobubble a:hover {
  color: #e50;
}

.infobubble a.close-button {
  font-size: 120%;
  text-decoration: none;
  font-weight: bold;
  float: right;
  color: #666;
  font-family: cursive;
}

.infobubble a.close-button:hover {
  color: black;
}

/*
 * FILTER IMAGE
 */

.storytree-filterimg {
  background-image: url('../img/filter_large.png');
  background-position: 0% 0%;
  width: 50px;
  height: 16px;
  float: left;
  margin-left: 0.5em;
  display: block; 
  cursor: pointer;
}
.storytree-filterimg-active {
  background-position: 0% 100%;
}

/**
 * CONTEXT INFO BUBBLES
 */
.bubbleHierarchyContainer {
  padding-left: 1em;
}
 
.bubbleHierarchyContainer a:hover, .bubbleHierarchyContainer a:link, .bubbleHierarchyContainer a:visited, .bubbleHierarchyContainer a:active {
  font-size: 100%;
  color: black;
  text-decoration: none;
  cursor: default;  
}
.bubbleHierarchyContainer ul {
  margin-left: 0em;
  padding-left: 1em; 
}

/**
 * CREATE DIALOG LINK
 */
div.storyTreeContainer .openCreateDialogLink,
div.storyTreeContainer .openCreateDialogLink:active,
div.storyTreeContainer .openCreateDialogLink:visited {
  font-size: 80% !important;
  color: #1E5EEE !important;
  text-decoration: underline !important;
  cursor: pointer !important;
}
div.storyTreeContainer .openCreateDialogLink:hover {
  color: #e50 !important;
}

/**
 * MULTIPLE EDITING
 */
.multiEditContainer {
  position: fixed;
  bottom: 0;
  left: 0;
  background: #ccc;
  width: 100%;
  max-height: 0;
  border: 1px solid #ccc;
  margin: 0;
}

.multiEditContainer > ul {
  margin: 0;
  padding: 0;
  
  list-style-type: none;
  
  white-space: nowrap;
  text-align: center;  
}

.multiEditContainer > ul > li {
  display: inline-block;
  vertical-align: center;
  margin: 1ex 1ex;
}

/**
 * OTHERS
 */
.storyTreeContainer ul > li > a {
  cursor: pointer;  
}

