/**
 * CSS attributes for styling the ui.
 *
 * Contents:
 *  - Menu collapsing
 *  - Left hand menu
 *  - Backlog info tables
 *  - Create new menu
 *  - Navigation tabs
 *  - Footer
 *  - Daily work styles
 */
 
/**
 * MENU HIDING 
 */

.menu-collapsed #navigationTabsWrapper {
  margin-left: 2em;
}

.menu-collapsed #menuWrapper {
  width: 2em;
}

.menu-collapsed #menuContent {
  position: relative;
  left: -100px;
  width: 1px;
  overflow: hidden;
}

.menu-collapsed #bodyWrapper {
  margin: 0 0 0 2em !important;  
}

.menu-collapsed #menuToggleControl {
  background-position: 100% 0%;  
}
.menu-collapsed #menuToggleControl:hover {
  background-position: 100% 100%;  
}

/**
 * LEFT HAND MENU
 */
#menuContent ul {
  margin: 0;
  padding: 1em;  
}

#menuContent ul li {
  list-style-type: none;  
}

/* BACKLOG INFO TABLES */
 
.backlogInfo {
  width: 98%;
  min-width: 800px;
}
.backlogInfo ul.backlogTabs {
  height: 24px !important;  
}
.backlogInfo div.details {
  min-height: 200px;
}

.backlogInfo th {
  background-color: white;  
} 

/**
 * CREATE NEW -menu
 */
 
#createNewMenuWrapper {
  margin-right: 1em;
  float: right;
}

#createNewMenuLink a span {
  display: block;
  float: left;
  width: 16px;
  height: 16px;
  margin-right: 3px;
  background-image: url('../img/create_new.png');
  background-position: 0%;
}

#createNewMenuLink a:hover span {
  background-position: 100%;  
}

ul#createNewMenu {
  margin: 0;
  padding: 0;
  position: absolute;
  border: 1px solid #aaa;
  top: 6.3em;
  right: 1em;
  width: 12em;
  z-index: 300;
}

ul#createNewMenu li {
  height: 20px;
  background-color: #eee;
  list-style-type: none;
  margin: 0;
}

ul#createNewMenu li:hover {
  background-color: #ccc;
}

ul#createNewMenu a, ul#createNewMenu span.inactive {
  display: block;
  padding-left: 8px;
  width: 100%;
  height: 100%;
}

ul#createNewMenu li.separator, ul#createNewMenu li.separator:hover {
  display: block;
  background: #aaa;
  width: 100%;
  height: 1px;
  padding: 0;
}

/**
 * NAVIGATION TABS
 */

#navigationTabsWrapper {
  margin-left: 15em;
  float: left;
}

#navigationTabsWrapper ul, #navigationTabsWrapper ul li {
  display: inline;
  margin: 0;
  padding: 0;
  list-style-type: none;  
}

#navigationTabsWrapper ul li {
  border-width: 1px 1px 0 1px;
  border-color: #A6C9E2;
  border-style: solid;
  -moz-border-radius-bottomleft:  0;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-bottom-right-radius:  0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  padding: 0.3em 0.5em 0.1em 0.5em; 
  margin: 0 0.5em 0 0;
  background: #dfeffc url("../img/ui/ui-bg_glass_85_dfeffc_1x400.png") repeat-x scroll 50% 50%;
}

#navigationTabsWrapper ul li.navitab-selected {
  background: #fff;
  padding-bottom: 2px;  
}

#navigationTabsWrapper ul li a {
  font-weight: bold !important;
  color: #2E6E9E !important;  
}

#navigationTabsWrapper ul li.navitab-selected a {
  color: #E17009 !important;  
}


/**
 * FOOTER STYLES
 */
#footerText a:link, #footerText a:visited, #footerText a:active {
  color: #444;
  text-decoration: none;
  cursor: pointer;  
}

#footerText a:hover {
  color: #e50;  
}

div#footerText label {
  cursor: pointer;
}

/**
 * DAILY WORK
 */
 
#dailyWorkTabs {
  min-width: 750px;  
}
