.timeplot-container {
    overflow: hidden;
    position: relative;
    height: 200px;
    border: 1px solid #ccc;
    padding: 12px 14px;
}

.timeplot-copyright {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 50;
    cursor: pointer;
}

.timeplot-message-container {
    position:   absolute;
    top:        30%;
    left:       35%;
    right:      35%;
    max-width:  400px;
    z-index:    1000;
    display:    none;
}
.timeplot-message {
    font-size:      120%;
    font-weight:    bold;
    text-align:     center;
}
.timeplot-message img {
    vertical-align: middle;
}

.timeplot-div {
    position: absolute;
}

.timeplot-grid-label {
    font-size: 9px;
}

.timeplot-event-box {
    cursor: pointer;
}

.timeplot-event-box-highlight {
    border: 1px solid #FFB03B;
}

.timeplot-valueflag {
    display: none;
    border: 1px solid #FFB02D;
    padding: 2px 4px;
    text-align: center;
    background-color: #FFE57F;
    font-weight: bold;
    z-index: 1000;
}

.timeplot-valueflag-line {
    display: none;
    width: 14px;
    height: 14px;
    z-index: 1000;
}

.timeplot-timeflag {
    display: none;
    border: 1px solid #FFB02D;
    padding: 2px 4px;
    text-align: center;
    background-color: #FFE57F;
    font-weight: bold;
    z-index: 1000;
}

.timeplot-timeflag-triangle {
    display: none;
    width: 11px;
    height: 6px;
    z-index: 1001;
}

.timeplot-valueflag-pole {
    display: none;
    border-left: 1px solid #FFB02D;
    z-index: 999;
}

.timeplot-lens {
    display: none;
    border: 1px solid #FFB02D;
    z-index: 998;
}
.load-legends {
	margin-top: 10px;
	float: right;
	width: 14%;
	margin-right: 2%;
	margin-left: 2%;
}

.load-legends div {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border:2px solid rgba(0, 0, 0, 0.5);
  margin-bottom:2px;
  padding: 3px;
}

