/*
 * jsTree default theme 1.0
 * Supported features: dots/no-dots, icons/no-icons, focused, loading
 * Supported plugins: ui (hovered, clicked), checkbox, contextmenu, search
 */
.jstree-storytree li,.jstree-storytree ins {
  background-image: url("d.png");
  background-repeat: no-repeat;
  background-color: transparent;
}

.jstree-storytree li {
  line-height: 22px !important;
  background-position: -90px 0;
  background-repeat: repeat-y;
}

.jstree-storytree li.jstree-last {
  background: transparent;
}

.jstree-storytree .jstree-open>ins {
  background-position: -72px 0;
}

.jstree-storytree .jstree-closed>ins {
  background-position: -54px 0;
}

.jstree-storytree .jstree-leaf>ins {
  background-position: -36px 0;
}

.jstree-storytree .jstree-hovered {
  background: #e7f4f9;
  border: 1px solid #d8f0fa;
  padding: 0 2px 0 1px;
}

.jstree-storytree .jstree-clicked {
  background: #beebff;
  border: 1px solid #99defd;
  padding: 0 2px 0 1px;
}

.jstree-storytree a {
  line-height: 20px;  
}

.jstree-storytree a .jstree-icon {
  background-position: -56px -19px;
}

.jstree-storytree a.jstree-loading .jstree-icon {
  background: url("throbber.gif") center center no-repeat !important;
}

.jstree-storytree.jstree-focused {
  background: transparent;
}

.jstree-storytree .jstree-no-dots li,.jstree-storytree .jstree-no-dots .jstree-leaf>ins
  {
  background: transparent;
}

.jstree-storytree .jstree-no-dots .jstree-open>ins {
  background-position: -18px 0;
}

.jstree-storytree .jstree-no-dots .jstree-closed>ins {
  background-position: 0 0;
}

.jstree-storytree .jstree-no-icons a .jstree-icon {
  display: none;
}

.jstree-storytree .jstree-search {
  font-style: italic;
}

.jstree-storytree .jstree-no-icons .checkbox {
  display: inline-block;
}

.jstree-storytree .jstree-no-checkboxes .checkbox {
  display: none !important;
}

.jstree-storytree .jstree-checked>a>.checkbox {
  background-position: -38px -19px;
}

.jstree-storytree .jstree-unchecked>a>.checkbox {
  background-position: -2px -19px;
}

.jstree-storytree .jstree-undetermined>a>.checkbox {
  background-position: -20px -19px;
}

.jstree-storytree .jstree-checked>a>.checkbox:hover {
  background-position: -38px -37px;
}

.jstree-storytree .jstree-unchecked>a>.checkbox:hover {
  background-position: -2px -37px;
}

.jstree-storytree .jstree-undetermined>a>.checkbox:hover {
  background-position: -20px -37px;
}

#vakata-dragged.jstree-storytree ins {
  background: transparent !important;
}

#vakata-dragged.jstree-storytree .jstree-ok {
  background: url("d.png") -2px -53px no-repeat !important;
}

#vakata-dragged.jstree-storytree .jstree-invalid {
  background: url("d.png") -18px -53px no-repeat !important;
}

#jstree-marker.jstree-storytree {
  background: url("d.png") -41px -57px no-repeat !important;
}

.jstree-storytree a.jstree-search {
  background-color: #ffc;
}

#vakata-contextmenu.jstree-storytree-context,#vakata-contextmenu.jstree-storytree-context li ul
  {
  background: #f0f0f0;
  border: 1px solid #979797;
  -moz-box-shadow: 1px 1px 2px #999;
  -webkit-box-shadow: 1px 1px 2px #999;
  box-shadow: 1px 1px 2px #999;
}

#vakata-contextmenu.jstree-storytree-context li {
  
}

#vakata-contextmenu.jstree-storytree-context a {
  color: black;
}

#vakata-contextmenu.jstree-storytree-context a:hover,#vakata-contextmenu.jstree-storytree-context .vakata-hover>a
  {
  padding: 0 5px;
  background: #e8eff7;
  border: 1px solid #aecff7;
  color: black;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}

#vakata-contextmenu.jstree-storytree-context li.vakata-separator {
  background: white;
  border-top: 1px solid #e0e0e0;
  margin: 0;
}

#vakata-contextmenu.jstree-storytree-context li ul {
  margin-left: -4px;
}
/* TODO: IE6 support - the `>` selectors */