<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<!--
			we need the package mapping to make package-info.java work, but it
			won't map all the package classes
		-->
		<mapping package="fi.hut.soberit.agilefant.model" />

    <mapping class="fi.hut.soberit.agilefant.model.Assignment" />		
		<mapping class="fi.hut.soberit.agilefant.model.Backlog" />
		<mapping class="fi.hut.soberit.agilefant.model.BacklogHourEntry" />
        <mapping class="fi.hut.soberit.agilefant.model.ExactEstimate" />
        <mapping class="fi.hut.soberit.agilefant.model.SignedExactEstimate" />		
		<mapping class="fi.hut.soberit.agilefant.model.Iteration" />
		<mapping class="fi.hut.soberit.agilefant.model.IterationHistoryEntry" />
		<mapping class="fi.hut.soberit.agilefant.model.Product" />
		<mapping class="fi.hut.soberit.agilefant.model.Project" />
		<mapping class="fi.hut.soberit.agilefant.model.ProjectType" />
		<mapping class="fi.hut.soberit.agilefant.model.Setting" />
		<mapping class="fi.hut.soberit.agilefant.model.Story" />
		<mapping class="fi.hut.soberit.agilefant.model.StoryHourEntry" />
		<mapping class="fi.hut.soberit.agilefant.model.Task" />
		<mapping class="fi.hut.soberit.agilefant.model.TaskHourEntry" />
		<mapping class="fi.hut.soberit.agilefant.model.Team" />
		<mapping class="fi.hut.soberit.agilefant.model.User" />
		<mapping class="fi.hut.soberit.agilefant.model.WhatsNextEntry" />
		
		<!-- 
		<mapping class="fi.hut.soberit.agilefant.model.BusinessTheme" />
		<mapping class="fi.hut.soberit.agilefant.model.BacklogThemeBinding" />
		 -->


		<!--
			Activate hibernate validation: these listeners will raise an
			exception if an annotation validation constraint is violated.
		-->
		<event type="pre-update">
			<listener
				class="org.hibernate.validator.event.ValidatePreUpdateEventListener" />
		</event>
		<event type="pre-insert">
			<listener
				class="org.hibernate.validator.event.ValidatePreInsertEventListener" />
		</event>

	</session-factory>
</hibernate-configuration>
